// Process Config:

singularity {
  enabled = true
  runOptions = '--bind /scratch/blast_db:/db'
}

process {
  container = '/home/kpotoh/dolphin/singularity/image_pipeline.sif'
  executor = 'local'
  cpus = '4'
  memory = '2 GB'
}

executor {
  $local {
    cpus = '4'
    memory = '20 GB'
  }  
}

// Run Parameters:

params {
  species_name = ''
  sequence = ''
  gencode = '2'
  Mt_DB = '/db/MIDORI2_UNIQ_NUC_SP_GB253_CO1_BLAST'
}


// Process Parameters:

// Process Parameters for tblastn:
// params.tblastn.nseqs =  "1000"  //* @dropdown @description:"Number of database sequences to show alignments for AND number of database sequences to show one-line descriptions for" @options: "100", "250", "500", "1000"

// Process Parameters for Nemu_tail_iqtree_build_tree:
params.Nemu_tail_iqtree_build_tree.run_IQTREE =  "true"  //* @checkbox @description:"Checkk the box to use RAXML for phylogeny reconstruction."
params.Nemu_tail_iqtree_build_tree.iqtree_model =  "GTR+FO+G6+I"  //* @input @description:"Substitution model for IQTREE2. Could be 'MFP' to run modelfinder."
params.Nemu_tail_iqtree_build_tree.quantile =  "0.1"  //* @input @description:"The quantile to set threshold for treeshrink."

// Process Parameters for Nemu_tail_raxml_build_tree:
params.Nemu_tail_raxml_build_tree.run_RAXML =  "true"  //* @checkbox @description:"Check the box to use RAXML for phylogeny reconstruction."
params.Nemu_tail_raxml_build_tree.raxml_model =  "GTRGAMMAIX"  //* @input @description:"Substitution model for RAxML"

// Process Parameters for Nemu_tail_mut_processing_params:
params.Nemu_tail_mut_processing_params.syn4f =  "false"  //* @checkbox @description:"Run extraction of mutational spectrum based on synonymous fourfold mutations"
params.Nemu_tail_mut_processing_params.all =  "false"  //* @checkbox @description:"Run extraction of mutational spectrum based on all mutations"
params.Nemu_tail_mut_processing_params.mnum192 =  "16"  //* @input @description:"Number of mutation types (max 192) required to calculate and plot 192-component mutational spectra"
params.Nemu_tail_mut_processing_params.use_probabilities =  "true"  //* @checkbox @description:"Use probabilities of nucleotides in mutational spectra calculation"
params.Nemu_tail_mut_processing_params.proba_min =  "0.3"  //* @input @description:"Mutation probability cutoff: mutations with lower probability will not be considered in spectra calculation"
params.Nemu_tail_mut_processing_params.simulation =  "false"  //* @checkbox @description:"Run simulation using pyvolve. Available only when nspecies = 'single'"
params.Nemu_tail_mut_processing_params.replics =  "10"  //* @input @description:"Number of replics to simulate neutral evolution in pyvolve"
params.Nemu_tail_mut_processing_params.scale_tree =  "1"  //* @input @description:"Scaling coefficient for tree in pyvolve"
params.Nemu_tail_mut_processing_params.site_rates =  "false"  //* @checkbox @description:"Run site rates estimation in phylogenetic inference"
params.Nemu_tail_mut_processing_params.categories =  "6"  //* @input @description:"Site rates from discrete Gamma model with N categories"
params.Nemu_tail_mut_processing_params.cat_cutoff =  "1"  //* @input @description:"Minimal category of sites that will be used in synonymous nucleoride frequencies calculation"

