// Process Config:

singularity.enabled = true

process {
  container = '/home/kpotoh/dolphin/singularity/image_pipeline.sif'
  executor = 'local'
  cpus = '4'
  memory = '2 GB'
}

executor {
  $local {
    cpus = '4'
    memory = '20 GB'
  }  
}

// Run Parameters:

params {
  sequence = ''
  gencode = '2'
  nspecies = 'single'
  outgroup = 'OUTGRP'
  aligned = 'false'
}


// Process Parameters:

// Process Parameters for raxml_build_tree:
params.raxml_build_tree.run_RAXML = "false" //* @checkbox @description:"Check the box to use RAXML for phylogeny reconstruction."
params.raxml_build_tree.raxml_model = "GTRGAMMAIX" //* @input @description:"Substitution model for RAxML"

// Process Parameters for iqtree_build_tree:
params.iqtree_build_tree.run_IQTREE = "true" //* @checkbox @description:"Checkk the box to use RAXML for phylogeny reconstruction."
params.iqtree_build_tree.iqtree_model = "GTR+FO+G6+I" //* @input @description:"Substitution model for IQTREE2. Could be 'MFP' to run modelfinder."
params.iqtree_build_tree.quantile = "0.1" //* @input @description:"The quantile(s) to set threshold for treeshrink."

// Process Parameters for mut_processing_params:
params.mut_processing_params.syn4f = "false" //* @checkbox @description:"Run extraction of mutational spectrum based on synonymous fourfold mutations"
params.mut_processing_params.all = "true" //* @checkbox @description:"Run extraction of mutational spectrum based on all mutations"
params.mut_processing_params.mnum192 = "16" //* @input @description:"Number of mutation types (max 192) required to calculate and plot 192-component mutational spectra"
params.mut_processing_params.use_probabilities = "true" //* @checkbox @description:"Use probabilities of nucleotides in mutational spectra calculation"
params.mut_processing_params.proba_min = "0.3" //* @input @description:"Mutation probability cutoff: mutations with lower probability will not be considered in spectra calculation"
params.mut_processing_params.run_pyvolve = "false" //* @checkbox @description:"Run simulation using pyvolve. Available only when nspecies = 'multiple'"
params.mut_processing_params.replics = "10" //* @input @description:"Number of replics to simulate neutral evolution in pyvolve"
params.mut_processing_params.scale_tree = "1" //* @input @description:"Scaling coefficient for tree in pyvolve: less"